# Byte-compiled / cache
__pycache__/
*.pyc

*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test / coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Type checker
.mypy_cache/
.pytype/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# Logs
*.log

# Map state
web_map_state.json
